/******************************************************************************
*  Default Theme Stylesheet
*******************************************************************************
*
*  Common style definitions for bluewave-explorer. This stylesheet renders
*  components in "light" mode.
*
******************************************************************************/



/**************************************************************************/
/** Dashboard Item
/**************************************************************************/
/** Default style for individual cards in a dashboard. Explorer renders
 *  chart previews in a dashboard item (see createDashboardItem in Utils.js)
 */
.dashboard-item {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}


.dashboard-item-settings {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px;
    color: #9a9a9a;
    cursor: pointer;
    z-index: 2;
    width: 32px;
    height: 24px;
    text-align: center;
    padding-top: 8px;
}

.dashboard-item-settings:hover {
    color: #2c7cba;
    transition: 0.4s;
}

.dashboard-item .waitmask {
    background-color: rgba(12,44,60,0.3);
}



/**************************************************************************/
/** Dashboard Slider
/**************************************************************************/
/** Default style for range sliders that appear in some of the chart
 *  editors (see createSlider in Utils.js)
 */
.dashboard-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background-color: #adacac;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  cursor: pointer;
}

.dashboard-slider:hover {
  opacity: 1;
}



/**************************************************************************/
/** Tooltip
/**************************************************************************/
/** Default style for the tooltip popups that appear over the button bar
 *  in Explorer.
 */
.tooltip-panel, .tooltip-arrow {
    border: 1px solid #1d6479;
    background: #459db7;
}
.tooltip-panel {
    padding: 2px 7px 2px 3px !important;
    color: #fff;
    border-radius: 2px 4px 4px 2px;
    border-radius: 4px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}
.tooltip-arrow {
    width: 10px;
    height: 10px;
    padding: 10px;
}



/**************************************************************************/
/** Toggle Button
/**************************************************************************/
/** Default style for a toggle button (see createToggleButton in Utils.js).
 *  Explorer uses the switch to change view from "Edit" to "Preview".
 */
.toggle-button-bar {
    background-color: #718fb6; /*rgba(0,60,136,.5); */
    display: inline-block;
    padding: 2px;
    border-radius:5px;
}

.toggle-button, .toggle-button-active {
    display:inline-block;
    border-radius: 0px;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    height: 22px;
    line-height: 22px;
    min-width: 40px;
    text-align: center;
    padding: 0 7px;
}

.toggle-button:first-child, .toggle-button-active:first-child{
    border-radius: 5px 0 0 5px;
}

.toggle-button:last-child, .toggle-button-active:last-child{
    border-radius: 0 5px 5px 0;
}

.toggle-button:hover{
    background-color: #6783a7;
    box-shadow: inset -1px 1px 5px 0px #335177;
}

.toggle-button-active{
    background-color: #335177;
    color: #c7c7c7;
    box-shadow: inset 0px 1px 2px 0px #000000;
}



/**************************************************************************/
/** Drawflow
/**************************************************************************/
/** Default styles and overides for explorer
 */
.drawflow-toolbar {
    position: absolute;
    top: 20px;
    left:  15px;
    background-color: #5a606d;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 15px 2px #cacaca;
    border: 1px solid #000;
    color: #fff;
    /*display: table;*/
}


.drawflow-toolbar-button,
.drawflow-toolbar-button-hover,
.drawflow-toolbar-button-selected {
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 7px;
    margin: 2px 0 2px 2px;
    color: rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    width: 30px;
    overflow: hidden;
}

.drawflow-toolbar-button-hover {
    background: #41454e;
    border: 1px solid #020202;
    color: #f3f3f3;
}

.drawflow-toolbar-button-selected {
    background: #2b2e33;
    border: 1px solid #020202;
    color: #f3f3f3;
}

.drawflow-toolbar-button-icon {
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 30px;
    overflow: hidden;
}
.drawflow-toolbar-button-icon.fas.fa-project-diagram {
    font-size: 22px;
}

.drawflow-toolbar-button-icon.far.fa-object-ungroup {
    width: 34px;
    margin-left: -2px;
    margin-top: -4px;
}

.drag-drawflow {
    line-height: 50px;
    border-bottom: 1px solid #cacaca;
    padding-left: 20px;
    cursor: move;
    user-select: none;
}

.drawflow {
    position: relative;
    width: 100%;
    height: 100%;
}

.drawflow .drawflow-node {
    background-color: #fff;
    border: 1px solid #cacaca;
    -webkit-box-shadow: 0 2px 15px 2px #cacaca;
    box-shadow: 0 2px 15px 2px #cacaca;
    padding: 0px;
    width: 200px;
}

.drawflow .drawflow-node.selected  {
    background: white;
    border: 1px solid #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow .drawflow-node.selected .drawflow-node-title {
    color: #22598c;
}


.drawflow .connection .main-path {
    stroke: #4ea9ff;
    stroke-width: 3px;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    border: 2px solid #cacaca;
}

.drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
    background: #4ea9ff;
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    background: white;
}

.drawflow > .drawflow-delete{
    border: 2px solid #43b993;
    background: white;
    color: #43b993;
    -webkit-box-shadow: 0 2px 20px 2px #43b993;
    box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete{
    border: 2px solid #ff4e4e;
    background: white;
    color: #ff4e4e;
    -webkit-box-shadow: 0 2px 20px 2px #ff4e4e;
    box-shadow: 0 2px 20px 2px #ff4e4e;
    opacity: 0; /*controlled programatically*/
}

.drawflow-delete2 {

    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 4;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;

    border: 2px solid #ff4e4e;
    background: white;
    color: #ff4e4e;
    -webkit-box-shadow: 0 2px 20px 2px #ff4e4e;
    box-shadow: 0 2px 20px 2px #ff4e4e;

    right: -15px;
    top: -15px;
}

.drawflow-node-title {
    height: 50px;
    line-height: 50px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.drawflow-node-overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    text-align: left;
    overflow: hidden;
}

.drawflow-node-overlay div {
    background-color:rgba(255,255,255,0.5);
    padding: 5px 10px 0 10px;
    color: #5a5a5a;
    text-shadow: 3px 3px 5px white;
    font-size: 12px;
}


.drawflow-node-title .fas,
.drawflow-node-title .far {
    margin: 0 5px 0 0;
    font-size: 16px;
}

.drawflow-node-body {
    width: 100%;
    min-height: 100px;
    text-align: center;
    position: relative;
}

.drawflow-node-body .fas,
.drawflow-node-body .far {
    color:#eaeaea;
    font-size:75px;
    margin-top:10px;
}

.drawflow-node-body .filename {
    position: absolute;
    word-wrap: break-word;
    width: 90%;
    font-size: 11px;
    background-color: rgba(255,255,255,0.5);
    color: #777;
    padding: 5px 0 5px 10px;
    text-align: left;
}

.drawflow-node-title svg {
    position: initial;
}

.drawflow-node .box {
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    color: #555555;

}
.drawflow-node .box p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.drawflow .connection .point {
    stroke: #cacaca;
    stroke-width: 2;
    fill: white;
    transform: translate(-9999px, -9999px);
}

.drawflow .connection .point.selected, .drawflow .connection .point:hover {
    fill: #4ea9ff;
}

.drawflow-save {
    height: 32px;
    background-color: #2ea44f;
    border-radius: 6px;
    position: absolute;
    bottom: 20px;
    right:  15px;
    box-shadow: 0 2px 6px 0px #b5b5b5;
    cursor: pointer;
    color: #e8e8e8;
    transition: 0.2s;
}
.drawflow-save:after {
    content:"Save";
    line-height: 32px;
    margin: 0 15px;
}

.drawflow-save:hover{
    background-color: #2c974b;
    color: #fff;
    box-shadow: 0 2px 6px 2px #b5b5b5;
}



/**************************************************************************/
/** Grid panel
/**************************************************************************/
/** Graph paper background for the dashboard editors
*/
.grid-panel,
.drawflow.parent-drawflow {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: 25px 25px;
    background-image:
    linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}



/**************************************************************************/
/** Error Popup
/**************************************************************************/
/** The following classes are used to define the style for pop-up callouts
 *  generated using the javaxt.dhtml.Callout class.
 */

.error-callout-panel, .error-callout-arrow {
    border: 1px solid #8c0000;
    background: #921d1d;
    color: #fff;
    cursor: pointer;
}

.error-callout-panel {
    border-radius: 3px;
    padding: 5px !important;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.error-callout-arrow {
    width: 7px;
    height: 7px;
    padding: 12px;
}

.form-input-error {
    background: #fff2f2;
    border-color: #d66262;
}


/**************************************************************************/
/** Color Menu Pulldown
/**************************************************************************/
/** The following classes are used to tweak the javaxt.dhtml.ComboBox for
 *  color pulldowns
 */

.form-input-menu-color {
    height: 22px;
    border-radius: 2px;
    position: relative;
}

.form-input-menu-item .form-input-menu-color {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



/**************************************************************************/
/** Chart Editor
/**************************************************************************/
/** Default style for chart editors
*/
.chart-editor-preview {
    padding: 10px;
}

.chart-editor-preview .chart-title {
    line-height: 20px;
    height: 32px;
}

.chart-editor-options {
    width: 220px;
    height: 100%;
    padding: 0px 14px 0 6px;
    border-radius: 0 0 0 5px;
    border-right: 1px solid #dcdcdc;
}

.chart-editor-options,
.chart-editor-options .form-grouplabel {
    background-color: #efefef;
}

.chart-editor-options .form-label {
    height: 12px;
    padding: 0;
}

/**************************************************************************/
/** Chart Title
/**************************************************************************/

.chart-title {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    /*
    line-height: 20px;
    height: 32px;
    */
}

.chart-title input[type="text"] {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

.chart-subtitle {
    color: #8c8c8c;
    font-size: 13px;
}


/**************************************************************************/
/** Chart Legend
/**************************************************************************/

.chart-legend {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 2;
    background-color: #fff;
    padding: 5px 7px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    text-align: left;
    overflow: hidden;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 17%);
}

.chart-legend > div {
   position: relative;
   overflow: hidden;
}

.chart-legend .dot {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #dcdcdc;
    vertical-align:middle;
    border-radius: 50%;
    margin: 3px 5px 0 0;
    float:left;
    display: inline-block;
    border: 1px solid #dcdcdc;
}

.chart-legend span {
   font-size: 12px;
}




/**************************************************************************/
/** Color Picker
/**************************************************************************/
/** Default style for the color picker callout that appears in some of the
 *  chart editors (e.g. MapChart))
 */
.color-picker-header {
    padding: 10px 0 4px;
}

.color-picker-option {
    width: 50px;
    height: 50px;
    float: left;
    margin: 2px;
    cursor: pointer;
}

.color-picker-option:hover {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.color-picker-option .fas.fa-check {
    color:#fff;
    font-size: 25px;
    padding: 13px;
}

.color-picker-new-option {
    background-color: #fff;
    border: 2px dashed #ccc;
    height: 46px;
}

.color-picker-new-option .fas.fa-plus {
    font-size: 30px;
    color: #ccc;
    margin: 8px 0 0 10px;
}

.color-picker-callout-panel, .color-picker-callout-arrow {
    border: 1px solid #adadad;
    background: #fff;
    cursor: pointer;
}

.color-picker-callout-panel {
    overflow: hidden;
    background: none;
    border: 0px none;
    border-radius: 5px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.color-picker-callout-arrow {
    width: 12px;
    height: 12px;
    padding: 12px;
}



/**************************************************************************/
/** Toolbar Icons
/**************************************************************************/
/** Default styles for icons that appear in the toolbar in some of the
 *  chart editors (e.g. FilterEditor)
 */
.toolbar-button-icon.fas {
    color: #5a606d;
    font-size: 16px;
}

.toolbar-button-icon.fas.fa-check-square {
    color: green;
}

/*
.toolbar-button-icon.fas.fa-trash {
    color: #8c6c6c;
}
*/

.toolbar-button-icon.fas.fa-copy {
    color: #b59d71;
}

.toolbar-button-icon.fas.fa-plus-circle {
    color: #008000; /*green*/
}

.toolbar-button-icon.fas.fa-folder-open {
    color: #d19f0b; /*yellow*/
}

.toolbar-button-icon.fas.fa-edit {
    color: #8f4f00; /*brown*/
    color: #0f6391;
}

.toolbar-button-icon.fas.fa-sync-alt {
    color: #007cba; /*blue*/
}

.toolbar-button-icon.fas.fa-play {
    color: #008000; /*green*/
}

.toolbar-button-icon.fas.fa-stop {
    color: #000000;
}

.toolbar-button-icon.fas.fa-times {
    color: #b11818; /*red - same color as search-bar-cancel*/
    font-size: 21px;
}





/**************************************************************************/
/** D3 SVG Styles
/**************************************************************************/

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.line:hover {
  stroke-width: 4px;
}


.tick {
    font-size: 10px;
}

.graph-node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.graph-link line {
  stroke: #999;
  stroke-opacity: 0.6;
}


.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}


/**************************************************************************/
/** Tooltip
/**************************************************************************/
/** This class is used by bluewave-charts
*/
.tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px 7px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: #636363;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}



/**************************************************************************/
/** CodeMirror overrides
/**************************************************************************/

.CodeMirror{
    height: 100%;
    background: none;
}
